DATABASE_URL=postgresql://zktuser:zktpassword@localhost:5432/zkt-db
FRONTEND_PORT=3000
API_PORT=3001
NODE_ENV=development
 #openssl rand -base64 32
BETTER_AUTH_SECRET=change-me-to-a-random-secret-at-least-32-chars
BETTER_AUTH_URL=http://localhost:3001
